.card {
    flex: 1 0 25%;
    min-width: 260px;
    max-width: 280px;
    height: 620px;
    background: #060d2c;
    border-radius: 35px;
    margin: 5px;
    padding: 26px 15px 30px;
    position: relative;
    overflow: hidden;}